@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --color-brand-primary: #B91C1C; /* Red 700 */
  --color-editorial-bg: #FDFBF7;
  --color-editorial-text: #1A1A1A;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Outfit", "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: var(--font-sans);
  background-color: var(--color-editorial-bg);
  color: var(--color-editorial-text);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(26, 26, 26, 0.1);
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(26, 26, 26, 0.2);
}
